<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace为命名空间，应该是mapper接口的全称-->
<mapper namespace="com.loivgehoto.disk.Mapper.FileMapper">

    <!--    验证账户是否正确-->
    <select id="addFile"><!--当上传一个新的文件和回收站里的文件重名,要怎么处理,待解决-->
        INSERT INTO cloud_disk.file (file_id,file_name,file_path,create_time,file_size,user_name,suffix_name,in_folder) VALUES(#{file_id},#{file_name},#{file_path},#{create_time},#{file_size},#{user_name},#{suffix_name},#{in_folder})
    </select>


    <select id="SearchAllFile_by_name_asc" resultType="com.loivgehoto.disk.model.File"><!--    order by file_name按文件名称对文件进行排序-->
        select  * from file where user_name=#{name} and in_recycle_bin=0 order by file_name asc
    </select>


    <select id="SearchAllFile_by_name_desc" resultType="com.loivgehoto.disk.model.File">
        select  * from file where user_name=#{name} and in_recycle_bin=0 order by file_name desc
    </select>


    <select id="SearchAllFile_by_size_asc" resultType="com.loivgehoto.disk.model.File"><!--    order by file_name按文件大小对文件进行排序-->
        select  * from file where user_name=#{name} and in_recycle_bin=0 order by file_size asc
    </select>


    <select id="SearchAllFile_by_size_desc" resultType="com.loivgehoto.disk.model.File">
        select  * from file where user_name=#{name} and in_recycle_bin=0 order by file_size desc
    </select>

    <select id="SearchAllFile_by_time_asc" resultType="com.loivgehoto.disk.model.File"><!--    order by file_name按文件大小对文件进行排序-->
        select  * from file where user_name=#{name} and in_recycle_bin=0 order by create_time asc
    </select>


    <select id="SearchAllFile_by_time_desc" resultType="com.loivgehoto.disk.model.File">
        select  * from file where user_name=#{name} and in_recycle_bin=0 order by create_time desc
    </select>

    <select id="SearchAllFile_in_recycle_bin" resultType="com.loivgehoto.disk.model.File"><!--    order by file_name按文件名称对文件进行排序-->
        select  * from file where user_name=#{name} and in_recycle_bin=1 order by file_name
    </select>

    <select id="Return_Search_Result" resultType="com.loivgehoto.disk.model.File">
        select  * from file where file_name like concat('%',#{file_name},'%') and user_name=#{user_name}
    </select>


    <select id="DeleteFile" parameterType="String"><!--删除文件记录的指令，只会删除在回收站当中的，in_recycle_bin判断是否在回收站，显示所有文件的页面的文件删除按钮不会触发这个指令，只有回收站页面的删除会-->
        DELETE from file where file_name=#{file_name} and in_recycle_bin=1
    </select>



<!--    <select id="findPath" parameterType="String">-->
<!--        select  * from file where user_name=#{name} and in_recycle_bin=1-->
<!--    </select>-->


    <select id="From_rootFolder_to_recycle_bin" parameterType="String">
       update file set in_recycle_bin=1 where file_name=#{file_name} and user_name=#{user_name}
    </select>

    <select id="From_recycle_bin_to_rootFolder" parameterType="String"><!--当上传一个新的文件和回收站里的文件重名,要怎么处理,待解决-->
        update file set in_recycle_bin=0 where file_name=#{file_name} and user_name=#{user_name}
    </select>


    <select id="share" parameterType="String">
       update file set share=1 where file_name=#{file_name} and user_name=#{user_name}

    </select>


    <select id="quxiao" parameterType="String">
        update file set share=0 where share_url=#{share_url}
    </select>

    <select id="set_url" parameterType="String">
        update file set share_url=#{url} where file_name=#{file_name} and user_name=#{user_name}
    </select>

    <select id="SearchAllFile_shared" resultType="com.loivgehoto.disk.model.File">
        select  * from file where user_name=#{name} and share=1 order by file_name
    </select>

    <select id="SearchSingleFile_shared" resultType="com.loivgehoto.disk.model.File">
        select  * from file where share_url=#{share_url} and share=1
    </select>




</mapper>
